:root {
  --skyBlue: #bcd9e7;
  --gray: #c4c4c4;
  --blending_blue: #0075df;
  --redColor: #ad2024;
  --bodyBackground: #f5f5f5;
  --principalcoloropacity:#d4e2efa2;
  --blueColor: #407c87;
  --blackColor: #000;
  --whiteColor: #fff;
  --green: #0b6a3c;
}

.progress-bar-highchart {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 2%;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.progress-bar-highchart .circle-svg {
  display: block;
  min-height: 50%;
  margin-top: 10px;
}
.progress-bar-highchart .circle-svg text {
  text-align: center;
  color: var(--blackColor);
  font-size: 8px;
}
.progress-bar-highchart .circle-svg path.percent {
  stroke: var(--blackColor);
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
.progress-bar-highchart .circle-svg path.around {
  stroke: var(--gray);
  fill: none;
  stroke-width: 2.8;
}
.progress-bar-highchart .progress-bar-content {
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  background-color: var(--whiteColor);
  box-shadow: 0px 0px 3px 0px var(--blackColor);
}
.progress-bar-highchart .progress-bar-content .progress-point .first, .progress-bar-highchart .progress-bar-content .progress-point .second, .progress-bar-highchart .progress-bar-content .progress-point .third {
  padding-top: 20px;
  gap: 5px;
  align-items: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.progress-bar-highchart .progress-bar-content .progress-point .first h5 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--skyBlue);
}
.progress-bar-highchart .progress-bar-content .progress-point .second h5 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--blackColor);
}
.progress-bar-highchart .progress-bar-content .progress-point .third h5 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--skyBlue);
}
.progress-bar-highchart #highcharts {
  height: 250px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px var(--blackColor);
}

.menu {
  display: none;
}
.menu .menu-icons {
  padding: 8px 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px var(--blackColor);
}
.menu .menu-container {
  position: absolute;
  top: 63px;
  right: 0.5px;
  width: 100%;
  transition: 1s;
  margin-top: -200%;
  display: flex;
  flex-direction: row;
  background-color: var(--bodyBackground);
}
.menu .menu-container ul {
  width: 100%;
}
.menu .menu-container ul li {
  list-style: none;
  color: var(--blackColor);
  border-bottom: 1px solid var(--blackColor);
  text-align: center;
  padding: 15px;
}
.menu .menu-container ul .sedeconnecter {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  font-weight: bolder;
  font-family: "Sen", sans-serif;
  background-color: var(--skyBlue);
}

body {
  width: 100%;
  font-size: 16px;
  font-family: "Sen", sans-serif;
  background-color: var(--bodyBackground);
}

section {
  display: grid;
  grid-template-columns: 20% 1fr;
}
section nav {
  background-color: var(--skyBlue);
  box-shadow: 0px 0px 3px 0px var(--blackColor);
}
section nav h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 30px;
}
section nav div {
  padding: 10px;
  margin-top: 8px;
}
section nav div i {
  padding-left: 20px;
}
section nav div:hover {
  padding: 10px;
  box-shadow: 0px 0px 1px 0px var(--blackColor);
  background-color: var(--bodyBackground);
}
section nav .page {
  padding: 10px;
  box-shadow: 0px 0px 1px 0px var(--blackColor);
  background-color: var(--bodyBackground);
}

.dashboard-content {
  padding: 20px;
  height: 100vh;
  overflow-x: auto;
}
.dashboard-content .dashboard-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  -webkit-column-gap: 10px;
}
.dashboard-content .dashboard-items .items {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px var(--blackColor);
}
.dashboard-content .dashboard-items .items div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  padding-left: 8px;
  padding-bottom: 20px;
  border-left: 4px solid var(--skyBlue);
}
.dashboard-content .dashboard-items .items p {
  padding-left: 15px;
}

*,
::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--blackColor);
}

nav button {
  border: none;
  outline: none;
  margin-left: 30px;
  margin-top: 230px;
  padding: 12px 20px;
  border-radius: 20px;
  font-weight: bolder;
  background-color: var(--bodyBackground);
  box-shadow: 0px 0px 3px 0px var(--blackColor);
  margin-top: 230px;
}
nav button a {
  font-family: "Sen", sans-serif;
}

header {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bodyBackground);
  box-shadow: 1px 0px 2px var(--blackColor);
}
header .header-content {
  flex-direction: row;
  justify-content: space-between;
}
header .input-recherche {
  gap: 5px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  -webkit-column-gap: 5px;
  box-shadow: 0px 0px 3px 0px var(--blackColor);
}
header .input-recherche input {
  border: none;
  outline: none;
  font-family: "Sen", sans-serif;
  background: none;
}
header .menu-search-area {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  -webkit-column-gap: 5px;
}
header .user-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  -webkit-column-gap: 10px;
}
header .user-information p img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--gray);
}
header .add {
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0px var(--blackColor);
}

.modify-delete {
  gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modify-delete .modify {
  color: var(--redColor);
}
.modify-delete p {
  height: 20px;
  border-left: 2px solid var(--blackColor);
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main .formulaire {
  width: 40%;
  border-radius: 10px;
  padding: 20px 40px;
  box-shadow: 0px 0px 5px 0px var(--blackColor);
}
main .formulaire div {
  display: grid;
  margin-top: 10px;
  gap: 10px;
  -webkit-column-gap: 10px;
}
main .formulaire div input, main .formulaire div select, main .formulaire div textarea {
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-family: "Sen", sans-serif;
  box-shadow: 0px 0px 2px 0px var(--blackColor);
}
main .formulaire button {
  float: right;
  margin-top: 15px;
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 5px;
  font-family: "Sen", sans-serif;
  box-shadow: 0px 0px 2px 0px var(--blackColor);
}

@media (max-width: 978px) {
  .menu {
    display: initial;
  }
  .menu .menu-icons .icon {
    display: block;
    cursor: pointer;
  }
  .menu .menu-icons .exit {
    display: none;
    cursor: pointer;
  }
  .menu .menu-mobile .icon {
    display: none;
  }
  .menu .menu-mobile .exit {
    display: initial;
  }
  .menu .menu-mobile {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) and (max-width: 610px) {
  .dashboard-content {
    padding: 10px;
  }
  header {
    padding: 10px;
  }
  .container .container-items {
    display: flex;
    flex-direction: column;
    justify-content: initial;
  }
}
@media (max-width: 978px) {
  main .formulaire {
    width: 70%;
  }
  section {
    display: grid;
    grid-template-columns: auto;
  }
  section nav {
    display: none;
  }
  section .dashboard-content {
    height: auto;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 978px) and (max-width: 800px) {
  .progress-bar-highchart {
    grid-template-columns: 99.2%;
  }
  .dashboard-content .dashboard-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) and (max-width: 650px) {
  table thead th, table tbody tr {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  main {
    padding: 15px;
  }
  main .formulaire {
    width: 100%;
  }
  .header-content {
    display: flex;
    flex-direction: column;
  }
  .header-content .user-information {
    margin-top: 10px;
    align-self: flex-end;
  }
  .dashboard-content .dashboard-items {
    display: grid;
    grid-template-columns: 1fr;
  }
  .progress-bar-highchart .highcharts {
    overflow-y: auto;
  }
  .progress-bar-highchart .highcharts #highcharts {
    width: 200%;
  }
}
.container-items {
  padding: 20px;
  margin-top: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--whiteColor);
  box-shadow: 0px 0px 1px 0px var(--blackColor);
}

table {
  width: 100%;
  margin: auto;
  margin-top: 15px;
  border-collapse: collapse;
}
table thead {
  text-align: left;
}
table th, table td {
  padding: 5px;
}
table thead, table tbody tr:nth-child(even) {
  background-color: var(--gray);
}

.dashboard-content .title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.dashboard-content .title-container div {
  gap: 5px;
  -webkit-column-gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dashboard-content .title-container div p {
  color: var(--gray);
}
.dashboard-content .school-items {
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: var(--whiteColor);
  box-shadow: 0px 0px 1px 0px var(--blackColor);
}
.dashboard-content .school-items .active {
  gap: 5px;
  -webkit-column-gap: 5px;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dashboard-content .school-items .active h5 {
  color: var(--gray);
}
.dashboard-content .school-items .active p {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--green);
}

article {
  padding: 40px 40px;
}

.container h3 {
  color: var(--skyBlue);
}
.container .subContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
}
.container .subContainer .imageSchool {
  border-radius: 8px;
  width: 100%;
}
.container .show-items {
  margin-top: 60px;
}
.container .show-items div {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}
.container .back {
  float: right;
  padding: 10px 20px;
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-weight: bolder;
  font-family: "Sen", sans-serif;
  box-shadow: 0px 0px 3px 0px var(--blackColor);
}/*# sourceMappingURL=dashboard.css.map */