@use '../utils/' as u;
@use '../utils/mixins' as *;

.progress-bar-highchart{
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
    @keyframes progress {
        0% {
          stroke-dasharray: 0 100;
        }
    }
    .circle-svg {
        display: block;
        min-height: 50%;
        margin-top: 10px;
    }
    .circle-svg text {
        text-align: center;
        color: var(--blackColor);
        font-size: 8px;
    }
    .circle-svg path.percent {
        stroke: var(--blackColor);
        fill: none; 
        stroke-width: 2.8; 
        stroke-linecap: round;
        animation: progress 1s ease-out forwards;
    }
    .circle-svg path.around {
        stroke: var(--gray);
        fill: none;
        stroke-width: 2.8; 
    }
    .progress-bar-content{
        padding: 15px;
        border-radius: 5px;
        @include vertical-alignment;
        justify-content: space-around;
        gap: 40px;
        background-color: var(--whiteColor);
        box-shadow: 0px 0px 3px 0px var(--blackColor);
        .progress-point{
            .first, .second, .third{
                padding-top: 20px;
                gap: 5px;
                align-items: normal;
                @include vertical-alignment;
            }
            .first h5{
                @include progress_circle;
                background-color: var(--skyBlue);
            }
            .second h5{
                @include progress_circle;
                background-color: var(--blackColor);
            }
            .third h5{
                @include progress_circle;
                background-color: var(--skyBlue);
            }
        }
    }
    //Pour le highchart
    #highcharts{
        height: 250px;
        border-radius: 5px;
        box-shadow: 0px 0px 3px 0px var(--blackColor);
    }
}

//This part contain the menu of all the dashboard
.menu{
    display: none;
    .menu-icons{
        padding: 8px 8px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px var(--blackColor);
    }
    .menu-container{
        position: absolute;
        top: 63px;
        right: 0.5px;
        width: 100%;
        transition: 1s;
        margin-top: -200%;
        display: flex;
        flex-direction: row;
        
        background-color: var(--bodyBackground);
        ul{
            width: 100%;
            li{
                list-style: none;
                color: var(--blackColor);
                border-bottom: 1px solid var(--blackColor);
                text-align: center;
                padding: 15px;
            }
            .sedeconnecter{
                width: 100%;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 15px;
                font-weight: bolder;
                font-family: u.$font-sen;
                background-color: var(--skyBlue);
            }
        }
    }
}