@use '../utils/' as u;

//Pour le body de notre Dashboard et ses branches
body{
    width: 100%;
    font-size: 16px;
    font-family: u.$font-sen;
    background-color: var(--bodyBackground);
}

//Section générale de notre Dashboard
section{
    display: grid;
    grid-template-columns: 20% 1fr;
    nav{
        height: 100vh;
        background-color: var(--skyBlue);
        box-shadow: 0px 0px 3px 0px var(--blackColor);
        h2{
            margin-top: 20px;
            margin-bottom: 20px;
            padding-left: 30px;
        }
        div{
            padding: 10px;
            margin-top: 8px;
            i{
                padding-left: 20px;
            }
            &:hover{
                padding: 10px;
                box-shadow: 0px 0px 1px 0px var(--blackColor);
                background-color: var(--bodyBackground);    
            }
        }
        .page{
            padding: 10px;
            box-shadow: 0px 0px 1px 0px var(--blackColor);
            background-color: var(--bodyBackground);
        }
    }
}

//Ici nous allons traiter le Bloc droit
.dashboard-content{
    padding: 10px 20px;
    .dashboard-items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        -webkit-column-gap: 10px;
        .items{
            padding: 15px;
            border-radius: 5px;
            background-color: var(--skyBlue);
            box-shadow: 0px 0px 3px 0px var(--blackColor);
            div{
                border-left: 4px solid var(--bodyBackground);
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 25px;
                padding-bottom: 20px;
                padding-left: 8px;
            }
            p{
                padding-left: 15px; 
            }
        }
    }
}
