@use '../utils/' as u;
@use '../utils/mixins' as *;

//Base Reset
*,
::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Pour tous les liens
a{
    text-decoration: none;
    color: var(--blackColor);
}

//Pour le boutton de notre nav
nav{
    button{
        border: none;
        outline: none;
        margin-left: 30px;
        margin-top: 230px;
        padding: 12px 20px;
        border-radius: 20px;
        font-weight: bolder;
        background-color: var(--bodyBackground);
        box-shadow: 0px 0px 3px 0px var(--blackColor);
        margin-top: 230px;
        a{
            font-family: u.$font-sen;
        }
    }
}

//Cette partie contient notre Header
header, .header-content{
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bodyBackground);
    box-shadow: 1px 0px 2px var(--blackColor);
    .input-recherche{
        gap: 5px;
        padding: 10px;
        border-radius: 4px;
        @include vertical-alignment;
        -webkit-column-gap: 5px;
        box-shadow: 0px 0px 3px 0px var(--blackColor);
        input{
            border: none;
            outline: none;
            font-family: u.$font-sen;
            background: none;
        }
    }
    .user-information{
        @include vertical-alignment;
        gap: 10px;
        -webkit-column-gap: 10px;
        p{
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 2px solid var(--gray);
            }
        }
    }
    .add{
        padding: 10px 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 3px 0px var(--blackColor);
    }
}

//Modify and delete buttons for all the pages that we have in our Dashboard
.modify-delete{
    gap: 5px;
    @include vertical-alignment;

    .modify{
        color: var(--redColor);
    }
    p{
        height: 20px;
        border-left: 2px solid var(--blackColor);
    }
}

//Here we're going to work on formulaire of all page
main{
    width: 100%;
    height: 100vh;
    @include vertical-alignment;
    justify-content: center;

    .formulaire{
        width: 40%;
        border-radius: 10px;
        padding: 20px 40px;
        box-shadow: 0px 0px 5px 0px var(--blackColor);

        div{
            display: grid;
            margin-top: 10px;
            gap: 10px;
            -webkit-column-gap: 10px;

            input, select, textarea{
                @include input-properties;
            }

        }
        button{
            float: right;
            margin-top: 15px;
            @include input-properties;
        }
    }
}
