<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=GFS+Neohellenic&family=Maven+Pro&family=Sen:wght@400;700&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    <!--Pour la section générale de notre Dashboard-->
    <section>
        <nav>
            <h2>SMS</h2>
            <div class="page">
                <i class="fa-solid fa-gauge"></i>
                <a href="#">Dashboard</a>
            </div>
            <div>
                <i class="fa-solid fa-school-flag"></i>
                <a href="#">Schools</a>
            </div>
            <div>
                <i class="fa-solid fa-book"></i>
                <a href="#">Cours</a>
            </div>
            <div>
                <i class="fa-solid fa-filter"></i>
                <a href="#">Options</a>
            </div>
            <div>
                <i class="fa-solid fa-landmark"></i>
                <a href="#">Classes</a>
            </div>
            <div>
                <i class="fa-solid fa-wand-sparkles"></i>
                <a href="#">Roles</a>
            </div>
            <button>
                <i class="fa-solid fa-power-off"></i>
                <a href="#">Logout</a>
            </button>
        </nav>

        <!--Cette partie est le bloc droit qui contient le header et les contenus de la page Dashboard-->
        <aside>
            <header>
                <div class="input-recherche">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" placeholder="Search">
                </div>
                <div class="user-information">
                    <i class="fa-solid fa-envelope"></i>
                    <i class="fa-solid fa-bell"></i>
                    <p><img src="../Images/user.png" alt="user_profile"></p>
                    <p>Anicet Chiza</p>
                </div>
            </header>

            <!--Cette partie contient les informations possibles de notre Dashboard, elle est conprise comme la partie droite de notre page-->
            <div class="dashboard-content">
                <div class="dashboard-items">
                    <div class="items">
                        <div>
                            <h3>Students</h3>
                            <i class="fa-solid fa-graduation-cap"></i>
                        </div>
                        <p>students</p>
                    </div>
                    <div class="items">
                        <div>
                            <h3>Schools</h3>
                            <i class="fa-solid fa-school"></i>
                        </div>
                        <p>students</p>
                    </div>
                    <div class="items">
                        <div>
                            <h3>Courses</h3>
                            <i class="fa-solid fa-book-bookmark"></i>
                        </div>
                        <p>students</p>
                    </div>
                    <div class="items">
                        <div>
                            <h3>Incomes</h3>
                            <i class="fa-solid fa-money-check-dollar"></i>
                        </div>
                        <p>students</p>
                    </div>
                </div>

                <!--Cette partie contient le circle-progress-bar ainsi que le graphic qui sera traiter par le javascript-->
                <div class="progress-bar-highchart">
                    <div class="progress-bar-content">
                        <div class="progress-circle-bar">
                            <h3>Students</h3>
                            <div>
                                <svg viewBox="0 0 36 36" class="circle-svg">
              
                                    <path class="around" stroke-dasharray="100, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                                    
                                    <path class="percent" stroke-dasharray="85, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831"></path>
                                    
                                    <text x="18" y="14" text-anchor="middle" dy="7" font-size="16px">90%</text>
                                    
                                </svg>
                            </div>
                        </div>
                        <div class="progress-point">
                            <div class="progress-point first">
                                <h5></h5>
                                <p>90%</p>
                            </div>
                            <div class="progress-point second">
                                <h5></h5>
                                <p>90%</p>
                            </div>
                            <div class="progress-point third">
                                <h5></h5>
                                <p>90%</p>
                            </div>
                        </div>
                    </div>

                    <div class="highcharts">
                        <div id="highcharts"></div>
                    </div>
                </div>
            </div>
        </aside>
    </section>

</body>
</html>