<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=GFS+Neohellenic&family=Maven+Pro&family=Sen:wght@400;700&display=swap" rel="stylesheet">
    <title>Role</title>
</head>
<body>
    <!--Pour la section générale de notre Dashboard-->
    <section>
        <nav>
            <h2>SMS</h2>
            <div>
                <i class="fa-solid fa-gauge"></i>
                <a href="../index.html">Dashboard</a>
            </div>
            <div>
                <i class="fa-solid fa-school-flag"></i>
                <a href="../school/school.html">Schools</a>
            </div>
            <div>
                <i class="fa-solid fa-book"></i>
                <a href="../cours/cours.html">Cours</a>
            </div>
            <div>
                <i class="fa-solid fa-filter"></i>
                <a href="../option/option.html">Options</a>
            </div>
            <div>
                <i class="fa-solid fa-landmark"></i>
                <a href="../classe/classe.html">Classes</a>
            </div>
            <div class="page">
                <i class="fa-solid fa-wand-sparkles"></i>
                <a href="#">Roles</a>
            </div>
            <button>
                <i class="fa-solid fa-power-off"></i>
                Logout
            </button>
        </nav>

        <!--Cette partie est le bloc droit qui contient le header et les contenus de la page Role-->
        <aside>
            <header>
                <div class="menu">

                </div>
                <div class="add">
                    <a href="add.html">Ajouter un role</a>
                </div>
            </header>

            <div class="dashboard-content">
                <div class="classe-title">
                    <h3>LISTE DES ROLES</h3>
                </div>

                <div class="container">
                    <div class="container-items">
                        <div>
                            <p>Prefet des etudes</p>
                        </div>
                        <div class="modify-delete">
                            <a class="modify" href="#">Supprimer</a>
                            <p></p>
                            <a class="delete" href="edit.html">Modifier</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="container-items">
                        <div>
                            <p>Directeur des etudes</p>
                        </div>
                        <div class="modify-delete">
                            <a class="modify" href="#">Supprimer</a>
                            <p></p>
                            <a class="delete" href="edit.html">Modifier</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="container-items">
                        <div>
                            <p>Titulaire des classes</p>
                        </div>
                        <div class="modify-delete">
                            <a class="modify" href="#">Supprimer</a>
                            <p></p>
                            <a class="delete" href="edit.html">Modifier</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="container-items">
                        <div>
                            <p>Comptable</p>
                        </div>
                        <div class="modify-delete">
                            <a class="modify" href="#">Supprimer</a>
                            <p></p>
                            <a class="delete" href="edit.html">Modifier</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="container-items">
                        <div>
                            <p>Sentinelles</p>
                        </div>
                        <div class="modify-delete">
                            <a class="modify" href="#">Supprimer</a>
                            <p></p>
                            <a class="delete" href="edit.html">Modifier</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="container-items">
                        <div>
                            <p>Corps professoral</p>
                        </div>
                        <div class="modify-delete">
                            <a class="modify" href="#">Supprimer</a>
                            <p></p>
                            <a class="delete" href="edit.html">Modifier</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="container-items">
                        <div>
                            <p>Prefet des etudes</p>
                        </div>
                        <div class="modify-delete">
                            <a class="modify" href="#">Supprimer</a>
                            <p></p>
                            <a class="delete" href="edit.html">Modifier</a>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="container-items">
                        <div>
                            <p>Prefet des etudes</p>
                        </div>
                        <div class="modify-delete">
                            <a class="modify" href="#">Supprimer</a>
                            <p></p>
                            <a class="delete" href="edit.html">Modifier</a>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </section>
</body>
</html>