//Centre verticalement
@mixin vertical-alignment{
    display: flex;
    flex-direction: row;
    align-items: center;
}

//Progress circle bar
@mixin progress_circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}