@use '../utils/variables' as v;

//Centre verticalement
@mixin vertical-alignment{
    display: flex;
    flex-direction: row;
    align-items: center;
}

//Progress circle bar
@mixin progress_circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

//Input properties
@mixin input-properties{
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-family: v.$font-sen;
    box-shadow: 0px 0px 2px 0px var(--blackColor);
}

//Grid alignment
@mixin grid-alignment{
    display: grid;
    gap: 10px;
}