@use '../utils/' as u;
@use '../utils/mixins' as *;

@include u.breakpoint(tablet){
    @media screen and (max-width: 610px){
        .dashboard-content{
            padding: 10px;
        }

        header{
            padding: 10px;
        }

        .container{
            .container-items{
                display: flex;
                flex-direction: column;
                justify-content: initial;
            }
        }
    }
}