@use '../utils/' as u;
@use '../utils/mixins' as *;

@include u.breakpoint(laptop){

    //This part concerne the formaulaire Media query
    main{
        .formulaire{
            width: 70%;
        }
    }
    section{
        display: grid;
        grid-template-columns: auto;
        nav{
            display: none;
        }

        .dashboard-content{
            height: auto;
            overflow-x: hidden;
        }
    }
}

@include u.breakpoint(mobile){
    main{
        padding: 15px;
        .formulaire{
            width: 100%;
        }
    }
}