@use '../utils/' as u;
@use '../utils/mixins' as *;

@include u.breakpoint(laptop){

    //This part concerne the formaulaire Media query
    main{
        .formulaire{
            width: 70%;
        }
    }
    section{
        display: grid;
        grid-template-columns: auto;
        nav{
            display: none;
        }

        .dashboard-content{
            height: auto;
            overflow-x: hidden;
        }
    }

    @media screen and (max-width: 800px){
        .progress-bar-highchart{
            grid-template-columns: 99.2%;
        }

        .dashboard-content{
            .dashboard-items{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@include u.breakpoint(tablet){
    @media screen and (max-width: 650px){
        table{
            thead th, tbody tr{
                display: flex;
                flex-direction: column;
            }
        }
    }
}


@include u.breakpoint(mobile){
    //This part concerne the formaulaire Media query
    main{
        padding: 15px;
        .formulaire{
            width: 100%;
        }
    }

    header{
        .header-content{
            display: flex;
            flex-direction: column;
        }
        .user-information{
            margin-top: 10px;
            align-self: flex-end;
        }
    }

    .dashboard-content{
        .dashboard-items{
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    .progress-bar-highchart{
        .highcharts{
            overflow-y: auto;
            #highcharts{
                width: 200%;
            }
        }
    }
}